*{
	margin: 0;
	padding: 0;

}
div {
	text-align: center;
}
body{
	background-image: url(Book.jpg); 
}
form {
	font-size:90px;
	text-shadow: 2px 2px red;
}
form input[type='text'] {
	width: 800px;
	height: 150px;
	font-size: 60px;
	text-align: center;


}

header{
	font-family: sans-serif;
	font-size: 250px;
	text-align: center;
	text-shadow: 2px 2px red;
	margin-left: 10px;

}

h1{
	font-family: sans-serif;
	font-size: 150px;
	text-align: center;
	/*margin-top:-390px;*/
	text-shadow: 4px 4px white;
}
.random p {
	position: center;
	font-size: 130px;
	margin-top: 50px;
	text-shadow: 2px 2px red;

}
.random button {
	height: 100px;
	width: 200px;
	font-size: 50px;
	border-radius: 5px;
	border:none;
	box-shadow: 6px 6px 6px 6px green;
	margin-top: 10px;
}
.random button:hover{
	background-color: #f39d14;
}


